@font-face {
  font-family: Minecraft;
  src: url(/fonts/MinecraftRegular-Bmg3.otf);
}
@font-face {
  font-family: MinecraftBold;
  src: url(/fonts/MinecraftBold-nMK1.otf);
}

/* Global Styles */
* {
  margin: 0;
  padding: 0;
  background-color: black;
  font-family: Minecraft;
  color: white;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 7rem 0 7rem;
  margin-bottom: 2rem;
}
.navbar ul {
  display: flex;
  gap: 2rem;
  font-size: 0.9rem;
  margin-left: 70px;
}
.navbar li {
  list-style: none;
}
.navbar a {
  text-decoration: none;
  padding: 0 1rem;
}
.navbar p,
.cv {
  font-size: 1.3rem;
}
.navbar .selected {
  color: seagreen;
}
.navbar a:hover {
  background-color: seagreen;
  color: white;
}

/* About Me - Section 1 */
.name {
  color: seagreen;
  text-decoration: underline;
}
.section1 {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  align-items: center;
  padding: 0 7rem;
  justify-items: center;
}
.section1 img {
  grid-column: 1 / span 5;
  width: 75%;
  border-radius: 50% 30%;
  border: 1px solid white;
}
.section1 > div {
  display: flex;
  grid-column: 6 / span 8;
  flex-direction: column;
  font-size: 1.1rem;
  gap: 1.2rem;
  text-align: center;
}
.section1 > div > a {
  color: seagreen;
}
.section1 > div > h1 {
  font-family: MinecraftBold;
}

/* Section 2 */
.section2 {
  display: grid;
  grid-template-columns: 1fr;
  height: 7rem;
  margin-top: 40px;
}
.section2 img {
  width: 4rem;
  background: transparent;
}
.section2 div {
  display: flex;
  justify-content: space-around;
  background-color: rgb(15, 14, 14);
}

/* Portfolio */
.projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 0 3rem 2rem 3rem;
}
.title {
  font-size: 4rem;
  grid-column: 1 / span 3;
  text-decoration: seagreen underline;
}
.project {
  width: 100%;
  height: 280px;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 1px 2px 10px seagreen;
}
.project:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
.projects img {
  width: 100%;
  height: 80%;
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  mask-image: linear-gradient(to bottom, black 60%, transparent 100%);
}
.project-description {
  width: 100%;
  height: 20rem;
  background-color: black;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  text-transform: uppercase;
}
.project-description a{
  text-decoration: none ;
  font-family: MinecraftBold;
}

/* CV  */
.cv-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 2rem;
  padding: 0 5rem;
}
.cv-grid h1 {
  grid-column: 1 / span 2;
  font-family: MinecraftBold;
  font-size: 4rem;
}
.cv-grid div {
  width: 100%;
}
.cv-right-side,
.cv-left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cv-left-side div,
.cv-right-side div {
  border-top: 10px solid seagreen;
  height: 300px;
  width: 100%;
}
/* CV Sections */
.education,
.work-experience,
.skills,
.volunteering {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.education ul,
.work-experience ul,
.skills ul,
.volunteering ul {
  padding: 2rem 4rem 4rem;
}
.education h1,
.work-experience h1,
.skills h1,
.volunteering h1 {
  padding-top: 2rem;
}
.education h1 {
  font-size: 3rem;
}
.work-experience h1,
.skills h1,
.volunteering h1 {
  font-size: 2rem;
}
.bold {
  font-family: MinecraftBold;
  font-size: 1.1rem;
}
.date {
  color: seagreen;
}
footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer img{
  width: 50px;
  padding: 1rem;
  
  
}

/* ---------- Media Queries ---------- */

@media only screen and (min-width: 1025px) {
  .section2 {
    height: 8rem;
    margin-top: 90px;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 769px) {
  .section2 {
    height: 7rem;
    margin-top: 70px;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
    
  }
  .title {
    grid-column: 1 / span 2;
  }
  .project:hover {
    transform: scale(1);
  }
  .education li,
  .work-experience li,
  .skills li,
  .volunteering li {
    font-size: 0.8rem;
  }
  .bold {
    font-size: 1rem;
  }
  .cv-left-side div,
  .cv-right-side div{
    height: auto;
    min-height: 400px;
  } 
}

@media only screen and (max-width: 768px) and (min-width: 376px) {
  .navbar {
    font-size: 2rem;
    padding: 1.5rem 0;
  }
  .navbar ul {
    gap: 10px;
  }
  .cv {
    display: none;
  }
  .section1 {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    text-align: center;
  }
  .section1 img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 16;
    width: 70%;
    max-width: 300px;
    margin-bottom: 1.5rem;
  }
  .section1 > div {
    font-size: 1rem;
    max-width: 90%;
    grid-row: 2 / span 1;
  }
  .section2 {
    width: 100%;
    height: 4rem;
  }
  .section2 img {
    width: 2rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .title {
    grid-column: 1;
  }
  .projects div {
    height: 18rem;
  }
  .project:hover {
    transform: scale(1);
  }
  .cv-grid {
    grid-template-columns: 1fr;
  }
  .cv-grid h1 {
    font-size: 2rem;
    grid-column: 1;
  }
  .cv-right-side div,
  .cv-left-side div {
    height: auto;
  }
}

@media only screen and (max-width: 375px) and (min-width: 320px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }
  .navbar ul {
    margin-top: 50px;
    margin-left: 0;
  }
  .cv {
    display: none;
  }
  .section1 {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1rem;
    text-align: center;
  }
  .section1 img {
    grid-row: 1 / span 1;
    grid-column: 1 / span 16;
    width: 80%;
    margin-bottom: 1.5rem;
  }
  .section1 > div {
    font-size: 1rem;
    max-width: 90%;
  }
  .section2 {
    width: 100%;
    height: 4rem;
  }
  .section2 img {
    width: 2rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
  .title {
    grid-column: 1;
    font-size: 3rem;
  }
  .projects div {
    height: 15rem;
  }
  .project:hover {
    transform: scale(1);
  }
  .project-description {
    font-size: 1rem;
  }
  .cv-grid {
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
  .cv-grid h1 {
    font-size: 1rem;
    grid-column: 1;
  }
  .cv-right-side div,
  .cv-left-side div {
    height: auto;
  }
  .bold {
    font-size: 1rem;
  }
  .education h1,
  .work-experience h1,
  .skills h1,
  .volunteering h1 {
    font-size: 1rem;
  }
  .cv-left-side li,
  .cv-right-side li {
    font-size: 1rem;
  }
}
